.form {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    border: 2px dotted blue;
    width: 200px;
    height: 200px;
    padding: 20px;
}


.form-elem {
    font-weight: bold;
}

.input {
    margin-bottom: 20px
}